{% extends 'base.html' %}
{% load static %}
{% block content %}
			<main class="content">
				<div class="container-fluid p-0">

					<div class="row">
						<div class="col-12 col-sm-6 col-xl-3 text-center d-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
{#										<div class="d-inline-block mt-2 mr-3">#}
{#											<i class="feather-lg text-primary" data-feather="shopping-cart"></i>#}
{#										</div>#}
										<div class="media-body">
											<h3 class="mb-2">{{ news_count }}</h3>
											<div class="mb-0">Umumiy yangiliklar</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-xl-3 text-center d-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
{#										<div class="d-inline-block mt-2 mr-3">#}
{#                                            <i class="feather-lg text-warning" data-feather="activity"></i>#}
{#										</div>#}
										<div class="media-body">
											<h3 class="mb-2">{{ projects_count }}</h3>
											<div class="mb-0">Proektlar</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-xl-3 text-center d-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
{#										<div class="d-inline-block mt-2 mr-3">#}
{#											<i class="feather-lg text-danger" data-feather="shopping-bag"></i>#}
{#										</div>#}
										<div class="media-body">
											<h3 class="mb-2">{{ partner_count }}</h3>
											<div class="mb-0">Partnyorlar</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-xl-3 text-center d-none d-xxl-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
{#										<div class="d-inline-block mt-2 mr-3">#}
{#											<i class="feather-lg text-info" data-feather="dollar-sign"></i>#}
{#										</div>#}
										<div class="media-body">
											<h3 class="mb-2">{{ council_count }}</h3>
											<div class="mb-0">Kengash</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-xl-3 text-center d-none d-xxl-flex">
							<div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
{#										<div class="d-inline-block mt-2 mr-3">#}
{#											<i class="feather-lg text-info" data-feather="dollar-sign"></i>#}
{#										</div>#}
										<div class="media-body">
											<h3 class="mb-2">{{ trip_count }}</h3>
											<div class="mb-0">Sayohatlar</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        </div>

					<div class="row">
						<div class="col-12 col-lg-12 d-flex">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<span class="badge badge-primary float-right">Oylik</span>
									<h5 class="card-title mb-0"></h5>
								</div>
								<div class="card-body">
									<div class="chart chart-lg">
										<canvas id="chartjs-dashboard-line"></canvas>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-12 col-lg-6 col-xl-4 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
									<div class="card-actions float-right">
										<div class="dropdown show">
											<a href="#" data-toggle="dropdown" data-display="static">
                                              <i class="align-middle" data-feather="more-horizontal"></i>
                                            </a>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">Calendar</h5>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
										<div class="chart">
											<div id="datetimepicker-dashboard"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
{% endblock %}