{% extends 'base.html' %}
{% load static %}
{% block content %}
			<main class="content">
				<div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <img class="w-100" src="{{ about.img.url }}" alt="">
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <p><b>{{ about.name }}</b></p>
                                    <p><b>{{ about.name_uz }}</b></p>
                                    <p><b>{{ about.name_ru }}</b></p>
                                    <p><b>{{ about.name_en }}</b></p>
                                    <hr>
                                    <p>{{ about.text }}</p>
                                    <p>{{ about.text_uz }}</p>
                                    <p>{{ about.text_ru }}</p>
                                    <p>{{ about.text_en }}</p>
                                    <hr>
                                    <p>{{ about.text1 }}</p>
                                    <p>{{ about.text1_uz }}</p>
                                    <p>{{ about.text1_ru }}</p>
                                    <p>{{ about.text1_en }}</p>
                                </div>
                            </div>
                        </div>
                        {% if new.img2 %}
                        <div class="col-6">
                            <img src="{{ new.img2.url }}" alt="">
                        </div>
                        {% endif %}
                        {% if new.video %}
                        <div class="col-6">
                            <video width="100%" height="100%" controls>
                              <source src="{{ new.video.url }}" type="video/mp4">
                            </video>
                        </div>
                        {% endif %}
                        {% if new.video_url %}
                        <div class="col-6">
                            <iframe width="100%" height="100%"
                                src="{{ new.video_url }}">
                            </iframe>
                        </div>
                        {% endif %}
                    </div>
				</div>
			</main>
{% endblock %}