{% extends 'base.html' %}
{% load static %}
{% block content %}
			<main class="content">
				<div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-6">
                            <img class="w-100" src="{{ project.img1.url }}" alt="">
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <p><b>{{ project.name }}</b></p>
                                    <p><b>{{ project.name_uz }}</b></p>
                                    <p><b>{{ project.name_ru }}</b></p>
                                    <p><b>{{ project.name_en }}</b></p>
                                    <hr>
                                    <p>{{ project.mini_text }}</p>
                                    <p>{{ project.mini_text_uz }}</p>
                                    <p>{{ project.mini_text_ru }}</p>
                                    <p>{{ project.mini_text_en }}</p>
                                    <hr>
                                    <p>{{ project.text }}</p>
                                    <p>{{ project.text_uz }}</p>
                                    <p>{{ project.text_ru }}</p>
                                    <p>{{ project.text_en }}</p>
                                    <hr>
                                    <p>{{ project.date|date:'Y-m-d' }}</p>
                                </div>
                            </div>
                        </div>
                        {% if project.img2 %}
                        <div class="col-6">
                            <img src="{{ project.img2.url }}" alt="">
                        </div>
                        {% endif %}
                        {% if project.video %}
                        <div class="col-6">
                            <video width="100%" height="100%" controls>
                              <source src="{{ project.video.url }}" type="video/mp4">
                            </video>
                        </div>
                        {% endif %}
                        {% if project.video_url %}
                        <div class="col-6">
                            <iframe width="100%" height="100%"
                                src="{{ i.video_url }}">
                            </iframe>
                        </div>
                        {% endif %}

                    </div>
				</div>
			</main>
{% endblock %}