{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block style %}
    <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 25px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 10px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 40px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
</style>
{% endblock style %}
			<main class="content">
				<div class="container-fluid p-0">
                    <div class="row">
                        <button data-toggle="modal" data-target="#centeredModalPrimaryadd" class="btn btn-primary"><i class="fas fa-plus"></i>   Yangi qo'shish</button>
                    </div>
                    <div class="row mt-3">
                        {% for i in stream %}
                            <div class="col-lg-4 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <iframe width="100%" height="345" src="{{ i.link }}">
                                        </iframe>
                                        <h5 class="card-title mb-1">{{ i.title }}</h5>
                                        <h5 class="card-title mb-1">{{ i.title_uz }}</h5>
                                        <h5 class="card-title mb-1">{{ i.title_ru }}</h5>
                                        <h5 class="card-title mb-1">{{ i.title_en }}</h5>
                                    </div>
                                    <div class="card-body">
                                        {% if i.link is not None %}
                                        <p class="card-text mb-1">{{ i.link }}</p>
                                        {% endif %}
                                        <div class="text-center">
                                            <label class="switch">
                                                <input type="hidden" id="streaming" value="{{ i.id }}">
                                                {% if i.status %}
                                              <input type="checkbox" id="switch" checked>
                                              {% else %}
                                              <input type="checkbox" id="switch">
                                                {% endif %}
                                                <span class="slider round"></span>
                                            </label>
                                            <a href="#" data-toggle="modal" data-target="#centeredModalPrimary{{ i.id }}" class="btn btn-warning">O'zgartirish</a>
                                            <a href="{% url 'delete-streaming' i.id %}" class="btn btn-danger">O'chirish</a>
                                        </div>
                                        <div class="modal fade" id="centeredModalPrimary{{ i.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">O'zgartirish</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body m-3">
                                                        <form action="{% url 'change-streaming' i.id %}" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <label for="">Link uchun</label>
                                                            <input type="link" name="link" value="{{ i.link }}" class="form-control mt-1" required>
                                                            <label for="">Krill text</label>
                                                            <input type="text" name="title" value="{{ i.title }}" class="form-control mt-1" required>
                                                            <label for="">Lotincha text</label>
                                                            <input type="text" name="title_uz" value="{{ i.title_uz }}" class="form-control mt-1" required>
                                                            <label for="">Ruscha text</label>
                                                            <input type="text" name="title_ru" value="{{ i.title_ru }}" class="form-control mt-1" required>
                                                            <label for="">Inglizcha text</label>
                                                            <input type="text" name="title_en" value="{{ i.title_en }}" class="form-control mt-1" required>
                                                            <div class="modal-footer pt-5" style="border-top: none">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                                                <button type="submit" class="btn btn-primary">Saqlash</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
				</div>
                <div class="modal fade" id="centeredModalPrimaryadd" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Yangi qoshish</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body m-3">
                                <form action="{% url 'add-streaming' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label for="">Link uchun</label>
                                    <input type="link" name="link" class="form-control mt-1" required>
                                    <label for="">Krill text</label>
                                    <input type="text" name="title" class="form-control mt-1" required>
                                    <label for="">Lotincha text</label>
                                    <input type="text" name="title_uz" class="form-control mt-1" required>
                                    <label for="">Ruscha text</label>
                                    <input type="text" name="title_ru" class="form-control mt-1" required>
                                    <label for="">Inglizcha text</label>
                                    <input type="text" name="title_en" class="form-control mt-1" required>
                                    <div class="modal-footer pt-5" style="border-top: none">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
                                        <button type="submit" class="btn btn-primary">Saqlash</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</main>
{% endblock %}
{% block script %}
    <script>
    let csrftoken = $("[name=csrfmiddlewaretoken]").val();
    let ids = document.getElementById('streaming').value
    $("#switch").on('change', function(e){
        $.ajax({
          type: "POST",
          headers:{
            "X-CSRFToken": csrftoken
          },
          url: "{% url "change-status-streaming" %}",
          data: {
            "ids": ids // from form
          },
          success: function () {

          }
        });
    });
    </script>
{% endblock %}